<h1 style="text-align: center; margin-bottom: 40px;"> Update texts </h1>
<div class="row">

	<!-- update frontpage text -->
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<form>
			<div class="form-group">
				<label for="comment"> Update frontpage text: </label>
				<textarea ng-model="frontPageTextModel" class="form-control" style="resize: none;" rows="7"></textarea>
				<button type="button" class="btn btn-success" ng-click="updateFrontpageTxt()"> Save </button>
			</div>
		</form>
	</div>

	<!-- upload about us text -->
	<div class="col-md-4">
		<form>
			<div class="form-group">
				<label for="comment"> Update about us text: </label>
				<textarea ng-model="aboutUsTextModel" class="form-control" style="resize: none;" rows="7"></textarea>
				<button type="button" class="btn btn-success" ng-click="updateAboutUsTxt()"> Save </button>
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>

<h1 style="text-align: center; margin-bottom: 40px;"> Update contact Info </h1>

<div class="row">
<div class="col-md-2"></div>
<!-- update contact info -->
<div class="col-md-4">

	<form>
		<div class="form-group">
		<label> email: </label>
			<input ng-model="emailModel" type="text" class="form-control">
			
		<label> number: </label>
			<input ng-model="phoneNumberModel"type="text" class="form-control">
			<button type="button" class="btn btn-success" ng-click="updateContactInfo()"> Save </button>
		</div>
	</form>	
</div>

<!-- update prices -->
<div class="col-md-4">
      <form>
        <div class="form-group">
          <label> lændge pris: </label>
          <input ng-model="lengthPriceModel" type="number" class="form-control">
     
          <label> brede pris: </label>
          <input ng-model="widthPriceModel" type="number" class="form-control">
        	<button type="button" class="btn btn-success" ng-click="updatePrices()"> Save </button>	
        </div>
      </form>	
</div>
<div class="col-md-2"></div>
</div>


<h1 style="text-align: center; margin-bottom: 40px;"> Upload/Delete image </h1>

<!-- upload new image(s) -->
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6">
		<label for="comment"> Upload image </label>
		<form method="post" enctype="multipart/form-data" action="/api/upload">
			<input type="file" name="newImage">
			<input type="submit" name="submit" value="submit">
		</form>
	</div>
	<div class="col-md-4"></div>
</div>

<!-- delete images -->
