<h1 style="text-align: center; margin-bottom: 40px;"> Redigere forside / om os tekst. </h1>
<div class="row">
	<div class="col-md-2"></div>
	
	<!-- update frontpage text -->
	<div class="col-md-4">
		<form>
			<div class="form-group">
				<label for="comment"> forside tekst: </label>
				<textarea ng-model="frontPageTextModel" class="form-control" style="resize: none;" rows="7"></textarea>
				<button type="button" class="btn btn-success" ng-click="updateFrontpageTxt()"> Save </button>
				<span ng-show="frontpageUpdated.updated"> {{frontpageUpdated.msg}} </span>
			</div>
		</form>
	</div>

	<!-- upload about us text -->
	<div class="col-md-4">
		<form>
			<div class="form-group">
				<label for="comment"> om os tekst: </label>
				<textarea ng-model="aboutUsTextModel" class="form-control" style="resize: none;" rows="7"></textarea>
				<button type="button" class="btn btn-success" ng-click="updateAboutUsTxt()"> Save </button>
				<span ng-show="aboutUsUpdated.updated"> {{aboutUsUpdated.msg}} </span>
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>
</div>

<h1 style="text-align: center; margin-bottom: 40px;"> Redigere kontakt info </h1>

<div class="row">
<div class="col-md-2"></div>

<!-- update contact info -->
<div class="col-md-4">
	<form>
		<div class="form-group">
		<label> email: </label>
			<input ng-model="emailModel" type="text" class="form-control">
			
		<label> number: </label>
			<input ng-model="phoneNumberModel" type="text" class="form-control">
			<button type="button" class="btn btn-success" ng-click="updateContactInfo()"> Save </button>
			<span ng-show="contactInfoUpdated.updated"> {{contactInfoUpdated.msg}} </span>
		</div>
	</form>	
</div>

<!-- update prices -->
<div class="col-md-4">
      <form>
        <div class="form-group">
          <label> meter pris: </label>
          <input ng-model="lengthPriceModel" class="form-control">
     
          <label> kvm pris: </label>
          <input ng-model="kvmPriceModel" class="form-control">
        	<button type="button" class="btn btn-success" ng-click="updatePrices()"> Save </button>
        	<span ng-show="pricesUpdated.updated"> {{pricesUpdated.msg}} </span>
        </div>
      </form>	
</div>
<div class="col-md-2"></div>
</div>

<!-- upload new image -->
<h1 style="text-align: center; margin-bottom: 40px;"> Upload image </h1>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6">
		<label for="comment"> Upload billede </label>
		<form method="post" enctype="multipart/form-data" action="/api/upload">
			<input type="file" name="newImage">
			<input type="submit" name="submit" value="submit">
		</form>
	</div>
	<div class="col-md-4"></div>
</div>

<!-- delete images -->
<h1 style="text-align: center; margin-bottom: 40px;"> Slet billeder </h1>
<div ng-repeat="images in imageSrcArray" class="row">
<div class="col-md-2"></div>
    <div ng-repeat="image in images" class="col-md-2">
			<img class="img-thumbnail" ng-src="images/{{image}}" id={{image}}>
			<button ng-click="deleteImage(image)" id="btn{{image}}"> Delete </button>
    </div>
</div>